/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
section {
    display: flex;
    min-height: 600px;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    flex-basis: 65%;
}


.photo {
    flex-basis: 60%;
    border: 2px dashed black;
    background-color: #1E90FF;
}

.info {

    flex-basis: 40%;
    border: 2px dashed black;
    background-color: #FFC0CB;

}

/* header */
header {
    display: flex;
    justify-content: center;
    min-height: 80px;
    background-color: #ADD8E6;
    padding: 15px;

}

.main-header {
    flex-basis: 60%;
    background-color: goldenrod;
    display: flex
}

.logo,
.login {
    flex-basis: 20%;
    border: 2px dashed black;
}

.link {
    flex-basis: 60%;
    border: 2px dashed black;
}

/* jumbotron */
.jumbotron {
    display: flex;
    min-height: 500px;
    justify-content: center;
    background-color: #00008B;
    padding: 40px;
}

.download-discord {
    flex-basis: 50%;
    background-color: #EE82EE;
    border: 2px dashed black;

}

/* body */

.info-call,
.quality-info {
    background-color: #D3D3D3;
}

.reverse-container {
    display: flex;
    flex-basis: 65%;
    flex-direction: row-reverse;
}

.quality-info .container {
    flex-basis: 65%;
    min-height: 900px;
    border: 2px dashed black;
    background-color: #228B22;
}

footer {
    background-color: #23272A;
}

.socials {
    flex-basis: 30%;
    background-color: #F08080;
    border: 2px dashed black;
}

/* info list*/
.info-list {
    flex-basis: 70%;
    background-color: #20B2AA;
    border: 2px dashed black;
    display: flex;


}

.list {

    flex-basis: 25%;
    border: 2px dashed #fff
}

/*main footer*/
.info-creators {
    border-bottom: 2px solid #fff;


}

.footer {
    min-height: 130px;
    padding: 30px 50px 0px 50px;

}

.bottom-bar {
    flex-basis: 100%;
    background-color: #7FFFD4;
    display: flex;
    padding: 30px 0px 30px 0px;
    border: 2px dashed black;
    justify-content: space-between;
}

.bottom-logo {

    flex-basis: 100px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}

.button {

    flex-basis: 100px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}