/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
section {
    display: flex;
    min-height: 600px;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    flex-basis: 65%;
}


.photo {
    flex-basis: 60%;
    border: 2px dashed black;
    background-color: #1E90FF;
}

.info {

    flex-basis: 40%;
    border: 2px dashed black;
    background-color: #FFC0CB;

}

/* header */
header {
    display: flex;
    justify-content: center;
    min-height: 80px;
    background-color: #ADD8E6;
    padding: 15px;

}

.main-header {
    flex-basis: 60%;
    background-color: goldenrod;
    display: flex
}

.logo,
.login {
    flex-basis: 20%;
    border: 2px dashed black;
}

.link {
    flex-basis: 60%;
    border: 2px dashed black;
}

/* jumbotron */
.jumbotron {
    display: flex;
    min-height: 500px;
    justify-content: center;
    background-color: #00008B;
    padding: 40px;
}

.download-discord {
    flex-basis: 50%;
    background-color: #EE82EE;
    border: 2px dashed black;

}

.info-call,
.quality-info {
    background-color: #D3D3D3;
}

.reverse-container {
    display: flex;
    flex-basis: 65%;
    flex-direction: row-reverse;
}

.quality-info .container {
    flex-basis: 65%;
    min-height: 900px;
    border: 2px dashed black;
    background-color: #228B22;
}