/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

/* header */
header {
    display: flex;
    justify-content: center;
    min-height: 80px;
    background-color: #ADD8E6;
    padding: 15px;

}

.main-header {
    flex-basis: 60%;
    background-color: goldenrod;
    display: flex
}

.logo,
.login {
    flex-basis: 20%;
    border: 2px dashed black;
}

.link {
    flex-basis: 60%;
    border: 2px dashed black;
}

/* jumbotron */
.jumbotron {
    display: flex;
    height: 500px;
    justify-content: center;
    background-color: #00008B;
    padding: 40px;
}

.download-discord {
    flex-basis: 50%;
    background-color: #EE82EE;
    border: 2px dashed black;

}